#version=DEVEL
install
url --url={{linux_install_server_url}}/rhel/6/x86_64
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto static --ip {{trusted_network_short_net}}.11 --netmask {{trusted_network_netmask}} --gateway {{trusted_network_gateway}} --nameserver {{trusted_network_dns_servers|join(",")}} --hostname synchost6.{{trusted_network_domain_name}} --domain {{trusted_network_domain_name}}

# Root password
rootpw --iscrypted {{root_pw_hash}}

# Define user
user --groups=wheel --name={{user_name}} --password={{user_pw_hash}} --iscrypted --gecos={{gecos_name}}

firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --enforcing
timezone --utc America/Phoenix
reboot

bootloader --location=mbr --driveorder=vda --append="crashkernel=auto rhgb quiet"
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
clearpart --all
zerombr
part /boot --fstype=ext4 --size=512
part pv.01 --grow --size=200
volgroup rootvg --pesize=4096 pv.01
logvol / --fstype=ext4 --name=rootlv --vgname=rootvg --size=1024
logvol /usr --fstype=ext4 --name=usrlv --vgname=rootvg --size=4096
logvol /home --fstype=ext4 --name=homelv --vgname=rootvg --size=512
logvol swap --name=swaplv --vgname=rootvg --size=2048
logvol /opt --fstype=ext4 --name=optlv --vgname=rootvg --size=256
logvol /var --fstype=ext4 --name=varlv --vgname=rootvg --size=5120
logvol /tmp --fstype=ext4 --name=tmplv --vgname=rootvg --size=1024

%packages
#@^minimal
@core
@server-policy
openssh-clients
libselinux-python
yum-utils
insights-client
scl-utils
%end

%post

# install ssh key for {{user_name}}
curl {{config_files_url}}/{{user_name}}-server0-id_rsa.pub -o /home/{{user_name}}/.ssh/authorized_keys  --create-dirs
curl  {{config_files_url}}/{{user_name}}-x1carbon-id_rsa.pub >> /home/{{user_name}}/.ssh/authorized_keys
chown -R {{user_name}}:{{group_name}} /home/{{user_name}}/.ssh
chmod 700 /home/{{user_name}}/.ssh
chmod 600 /home/{{user_name}}/.ssh/authorized_keys
restorecon -RFv /home/{{user_name}}/.ssh/authorized_keys

curl {{config_files_url}}/sudoers -o /etc/sudoers
chown -R root:root /etc/sudoers
chmod 440 /etc/sudoers
restorecon -RFv /etc/sudoers

#subscription-manager repos --enable rhel-server-rhscl-6-rpms
#yum -y install python27-python

%end

