[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = Chris Tjon
	email = ctjon@redhat.com
[http]
	sslVerify = false
