DEVICE={{ primary_bridge }}
STP=no
TYPE=Bridge
BOOTPROTO=dhcp
DELAY=0
DEFROUTE=yes
NAME={{ primary_bridge }}
ONBOOT=yes
ZONE={{ public_firewall_zone }}
IPV4_FAILURE_FATAL=no
IPV6INIT=no
IPV6_AUTOCONF=no
IPV6_DEFROUTE=no
IPV6_FAILURE_FATAL=no
IPV6_PRIVACY=no

