# {{ ansible_managed }}

LABEL Main Menu
        MENU LABEL Main Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/default

LABEL Linux Menu
        MENU LABEL Linux Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/LinuxMenu

#
# CentOS 8
#
label CentOS-8-x86_64-Latest
  menu label Install CentOS-8-x86_64-Latest Server
  kernel images/centos/8/x86_64/vmlinuz
  append initrd=images/centos/8/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 keymap=us lang=en_US ksdevice=eth0 ip=dhcp inst.repo={{linux_install_server_url}}/centos/8/BaseOS/x86_64/os

label CentOS-8-x86_64-rescue
  menu label Rescue CentOS-8-x86_64 system
  kernel images/centos/8/x86_64/vmlinuz
  append initrd=images/centos/8/x86_64/initrd.img net.ifnames=0 biosdevname=0 rescue

#
# CentOS 7
#
label CentOS-7-x86_64-Latest
  menu label Install CentOS-7-x86_64-Latest Server
  kernel images/centos/7/x86_64/vmlinuz
  append initrd=images/centos/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 keymap=us lang=en_US ksdevice=eth0 ip=dhcp inst.repo={{linux_install_server_url}}/centos/7/os/x86_64

label CentOS-7-x86_64-rescue
  menu label Rescue CentOS-7-x86_64 system
  kernel images/centos/7/x86_64/vmlinuz
  append initrd=images/centos/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 rescue

#
# test-centos8 server
#
label test-centos8
  menu label Install CentOS 8 Test Server
  kernel images/centos/8/x86_64/vmlinuz
  append initrd=images/centos/8/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/test-centos8-ks.cfg

#
# test-centos7 server
#
label test-centos7
  menu label Install CentOS 7 Test Server
  kernel images/centos/7/x86_64/vmlinuz
  append initrd=images/centos/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/test-centos7-ks.cfg

