# {{ ansible_managed }}

LABEL Main Menu
        MENU LABEL Main Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/default

#
# OpenBSD-5.9
#
label OpenBSD-5.9-amd64
  menu label Install OpenBSD-5.9-amd64
  kernel pxechain.com
  append ::images/openbsd/5.9/amd64/pxeboot

label OpenBSD-5.9-i386
  menu label Install OpenBSD-5.9-i386
  kernel pxechain.com
  append ::images/openbsd/5.9/i386/pxeboot

