#version=RHEL8
ignoredisk --only-use=nvme0n1
# Partition clearing information
clearpart --all --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --activate
network  --hostname=rhel8.mbp.tjon.net
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$X8ZY7ZVUE7TLA/dJ$05I1nOHoDtdg3x6J920VlrmiSblCKACpGdf25Yw97MUJp/2QeGIxTK7CWC194akcIBxVI99TxTkt3aQre6FfE0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/Phoenix --isUtc
reboot
user --groups=wheel --name=chris --password=$6$0EoRuofzMQyHfnq6$QvKt4CQH4VN7xjdxXmE7wVzCv.ukSJQRaQcXZTdbJ6jDlnezjGXmS4XCIgK9r8hglEPGoXYDPlnlOXkamh6sa. --iscrypted --gecos="Chris Tjon"
# Disk partitioning information
part pv.351 --fstype="lvmpv" --ondisk=nvme0n1 --size=9224
part /boot --fstype="xfs" --ondisk=nvme0n1 --size=228 --label=boot
part /boot/efi --fstype="efi" --ondisk=nvme0n1 --size=256 --fsoptions="umask=0077,shortname=winnt" --label=bootefi
volgroup rootvg --pesize=4096 pv.351
logvol /home --fstype="xfs" --size=512 --label="home" --name=homelv --vgname=rootvg
logvol /usr --fstype="xfs" --size=4096 --label="usr" --name=usrlv --vgname=rootvg
logvol /var --fstype="xfs" --size=2048 --label="var" --name=varlv --vgname=rootvg
logvol /tmp --fstype="xfs" --size=512 --label="tmp" --name=tmplv --vgname=rootvg
logvol swap --fstype="swap" --size=1024 --name=swaplv --vgname=rootvg
logvol / --fstype="xfs" --size=1024 --label="root" --name=rootlv --vgname=rootvg

%packages
@^minimal-environment
@standard
net-tools
bind-utils
yum-utils
insights-client
open-vm-tools

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
# install ssh key for chris
curl  {{config_files_url}}/bash_profile >> /home/chris/.bash_profile
chown chris:chris /home/chris/.bash_profile
mkdir /home/chris/.ssh
chmod 700 /home/chris/.ssh
curl  {{config_files_url}}/chris-mbp-id_rsa.pub >> /home/chris/.ssh/authorized_keys
chmod 600 /home/chris/.ssh/authorized_keys
chown -R chris:chris /home/chris/.ssh
restorecon -RFv /home/chris/.ssh/authorized_keys
%end
