#version=DEVEL
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

#Root password
rootpw --lock
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/Phoenix
# Disk partitioning information
part /boot/efi --fstype="efi" --fsoptions="umask=0077,shortname=winnt" --label=bootefi
part /boot --fstype="ext4" --label=boot
part pv.386 --fstype="lvmpv" --noformat --encrypted --luks-version=luks1
volgroup p51s_vg --noformat --useexisting
logvol /export --fstype="ext4" --noformat --useexisting --label="exportlv" --name=exportlv --vgname=p51s_vg
logvol /usr --fstype="ext4" --useexisting --label="usr" --name=usrlv --vgname=p51s_vg
logvol / --fstype="ext4" --useexisting --label="root" --name=rootlv --vgname=p51s_vg
logvol /var/lib/libvirt/images --fstype="ext4" --noformat --useexisting --name=vm_images_lv --vgname=p51s_vg
logvol /var --fstype="ext4" --useexisting --label="var" --name=varlv --vgname=p51s_vg
logvol /var/lib/tftpboot --fstype="ext4" --noformat --useexisting --label="tftpboot" --name=tftpbootlv --vgname=p51s_vg
logvol swap --fstype="swap" --useexisting --name=swaplv --vgname=p51s_vg
logvol /export/install --fstype="ext4" --noformat --useexisting --label="install" --name=installlv --vgname=p51s_vg
logvol /var/log --fstype="ext4" --useexisting --label="log" --name=loglv --vgname=p51s_vg
logvol /tmp --fstype="ext4" --useexisting --label="tmp" --name=tmplv --vgname=p51s_vg
logvol /home --fstype="ext4" --noformat --useexisting --name=homelv --vgname=p51s_vg

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
dnf -y install ansible
%end
