#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="{{linux_install_server_url}}/rhel/7/x86_64"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Reboot after install
reboot

# Network information
network  --hostname=satellite6.{{domain_name}} --bootproto=static --device=eth0 --gateway={{primary_gateway}} --ip={{primary_short_net}}.7 --nameserver={{dns_servers|join(",")}} --netmask={{primary_netmask}} --activate

# Root password
rootpw --iscrypted $6$KY6TFtdCk7.SV2G5$fb02sjorNVYVi6SAiFLswjDMBzWx7zzKgKmnw9fHR8rR6lsQIL7GP1wVvJn3WoVPCj6hWohW.0aBgAaDBsGux/

# System services
services --enabled="chronyd rsyslog"

# System timezone
timezone America/Phoenix --isUtc --ntpservers=gatekeeper.internal.tjon.net
user --groups=wheel --name=chris --password=$6$OU1WFAy6UrhSBCDv$0mcg4YPZiZOvbLUUIP7neohCYTbzNNBaRgIqp/NAJDuNeI2nD.Br1LItDoFfZp/aWs8ZnEeGvTopVixzD0rlh. --iscrypted --gecos="Chris Tjon"
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
zerombr
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=vda --size=512
part pv.182 --fstype="lvmpv" --ondisk=vda --grow
volgroup sat6vg --pesize=4096 pv.182
logvol /usr  --fstype="ext4" --size=4096 --name=usrlv --vgname=sat6vg
logvol /var/lib/pulp  --fstype="ext4" --size=300000 --name=var_lib_pulplv --vgname=sat6vg
logvol /var/lib/tftpboot  --fstype="ext4" --size=1024 --name=var_lib_tftpbootlv --vgname=sat6vg
logvol /var/cache/pulp  --fstype="ext4" --size=20480 --name=var_cache_pulplv --vgname=sat6vg
logvol /var/log  --fstype="ext4" --size=2048 --name=loglv --vgname=sat6vg
logvol /var/cache  --fstype="ext4" --size=4096 --name=cachelv --vgname=sat6vg
logvol /opt  --fstype="ext4" --size=3072 --name=optlv --vgname=sat6vg
logvol /  --fstype="ext4" --size=1024 --name=rootlv --vgname=sat6vg
logvol /home  --fstype="ext4" --size=1024 --name=homelv --vgname=sat6vg
logvol swap  --fstype="swap" --size=8192 --name=swaplv --vgname=sat6vg
logvol /var/lib/mongodb  --fstype="ext4" --size=51200 --name=var_lib_mongodblv --vgname=sat6vg
logvol /var/lib/pgsql  --fstype="ext4" --size=10240 --name=var_lib_pgsqllv --vgname=sat6vg
logvol /var/spool/squid  --fstype="ext4" --size=10240 --name=squidlv --vgname=sat6vg
logvol /var  --fstype="ext4" --size=1024 --name=varlv --vgname=sat6vg

%packages
@^minimal
@core
chrony
rsyslog
insights-client

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post
/usr/bin/curl {{config_files_url}}/etc/chrony.conf -o /etc/chrony.conf
/usr/bin/curl {{config_files_url}}/etc/rsyslog.conf -o /etc/rsyslog.conf
#/usr/bin/curl {{config_files_url}}/etc/yum.repos.d/tjon-rhel7.repo -o /etc/yum.repos.d/tjon-rhel7.repo
#/usr/bin/yum -y remove NetworkManager
#/usr/bin/yum -y update

# install ssh key for chris
curl {{config_files_url}}/chris-server0-id_rsa.pub -o /home/chris/.ssh/authorized_keys  --create-dirs
curl  {{config_files_url}}/chris-x1carbon-id_rsa.pub >> /home/chris/.ssh/authorized_keys
curl  {{config_files_url}}/chris-mbp-id_rsa.pub >> /home/chris/.ssh/authorized_keys
chown -R chris:chris /home/chris/.ssh
chmod 700 /home/chris/.ssh
chmod 600 /home/chris/.ssh/authorized_keys
restorecon -RFv /home/chris/.ssh/authorized_keys

/usr/bin/curl {{config_files_url}}/bash_profile -o /home/chris/.bash_profile
/usr/bin/chmod 600 /home/chris/.bash_profile

/usr/bin/mkdir /root/.ssh
/usr/bin/chmod 700 /root/.ssh
/usr/bin/curl {{config_files_url}}/public-keys/root-server0-public-key.txt -o ~root/.ssh/root-server0-public-key.txt
/usr/bin/mv /root/.ssh/root-server0-public-key.txt /root/.ssh/authorized_keys
/usr/bin/chmod 600 /root/.ssh/authorized_keys
/usr/bin/curl {{config_files_url}}/bash_profile -o /root/.bash_profile
/usr/bin/chmod 600 /root/.bash_profile

%end
