#version=DEVEL
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway={{trusted_network_gateway}} --ip={{trusted_network_short_net}}.2 --nameserver=172.16.1.1,172.16.1.3 --netmask={{trusted_network_netmask}} --activate
network  --bootproto=dhcp --device=eth1 --ipv6=auto
network  --bootproto=dhcp --device=eth2 --ipv6=auto
network  --bootproto=dhcp --device=eth3 --ipv6=auto
network  --hostname=server0.internal.tjon.net
# Root password
rootpw --iscrypted $6$Mpqrkg2HFvlND9bA$MWkZ03ZuyJ5m97r03QPRMVgMtPCJBj7bHwpB/s07DHAeEjnd8LbVSRTkHPv3m7FFzYWXSFeY3sjFv3zA9A6cx0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/Phoenix --isUtc
user --groups=wheel --name=chris --password=$6$X5wRW4PP3yP09xwp$0fRza7Q1C2/pnFttu7Pxgwo.M.na66sovRj6LpnkyXuz91yVwetghFZ9QxlLh1Xd.DzX3jZoqibuSJbBgcB/d1 --iscrypted --gecos="Chris Tjon"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
