#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="{{linux_install_server_url}}/rhel/7/x86_64"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=tower-nodeA.{{domain_name}} --bootproto=static --device=eth0 --gateway={{primary_gateway}} --ip={{primary_short_net}}.23 --nameserver={{dns_servers|join(",")}} --netmask={{primary_netmask}} --activate

# Root password
rootpw --iscrypted $6$VeaHKP/A6kFUMSfd$u0GYy.CPbfEKPC.sgnC/7KToFeDvAWUai9clpJCgDKosLNzVIDSGMMzPuhT617DjL4nUTDbyhs/hMvMCvcWCJ1
# System services
services --enabled="chronyd"
# System timezone
timezone America/Phoenix --isUtc --ntpservers=time.internal.tjon.net
reboot
user --groups=wheel --name=chris --uid=1000 --password=$6$i1f1OpEJjZLPJsMt$9lnkjugGqnfX1ICR8et0Nur34/w4ff4/rCEt0M0/6gcjZgW0C5h/GeUbvhjWCscd2H2.WmRH/ni/Libp6bGG/0 --iscrypted --gecos="Chris Tjon"
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --all --initlabel --drives=vda

# Disk partitioning information
part /boot --fstype="ext4" --ondisk=vda --size=256
part pv.1 --fstype="lvmpv" --ondisk=vda --grow
volgroup rootvg --pesize=4096 pv.1
logvol /  --fstype="ext4" --size=1024 --label="root" --name=rootlv --vgname=rootvg
logvol /usr  --fstype="ext4" --size=4096 --label="usr" --name=usrlv --vgname=rootvg
logvol /home  --fstype="ext4" --size=512 --label="home" --name=homelv --vgname=rootvg
logvol swap  --fstype="swap" --size=2048 --name=swaplv --vgname=rootvg
logvol /opt  --fstype="ext4" --size=32 --label="opt" --name=optlv --vgname=rootvg
logvol /var  --fstype="ext4" --size=10240 --label="var" --name=varlv --vgname=rootvg
logvol /tmp  --fstype="ext4" --size=1024 --label="tmp" --name=tmplv --vgname=rootvg

%packages
@^minimal
@core
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
%post

# install ssh key for chris
curl {{config_files_url}}/chris-server0-id_rsa.pub -o /home/chris/.ssh/authorized_keys  --create-dirs
curl  {{config_files_url}}/chris-x1carbon-id_rsa.pub >> /home/chris/.ssh/authorized_keys
chown -R chris:chris /home/chris/.ssh
chmod 700 /home/chris/.ssh
chmod 600 /home/chris/.ssh/authorized_keys
restorecon -RFv /home/chris/.ssh/authorized_keys


curl  {{config_files_url}}/setup-tower-cluster-trust.sh >> /root/setup-tower-cluster-trust.sh
chmod 700 /root/setup-tower-cluster-trust.sh
chown root:root /root/setup-tower-cluster-trust.sh
curl https://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-latest.tar.gz -o /root/ansible-tower-setup-latest.tar.gz

echo "curl https://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-latest.tar.gz -o /root/ansible-tower-setup-latest.tar.gz" >> /root/get-tower.sh
chmod 700 /root/get-tower.sh
chown root:root /root/get-tower.sh

%end

