{% if use_2fa %}
# google auth
#auth        required    /usr/local/lib/security/pam_google_authenticator.so
auth        required    /usr/lib64/security/pam_google_authenticator.so

{% endif %}
account        required    pam_nologin.so
account        include        system-auth
password       include        system-auth
session        include        system-auth
