export EASYRSA_REQ_COUNTRY={{easyrsa_req_country}}
export EASYRSA_REQ_PROVINCE={{easyrsa_req_province}}
export EASYRSA_REQ_CITY={{easyrsa_req_city}}
export EASYRSA_REQ_ORG={{easyrsa_req_org}}
export EASYRSA_REQ_EMAIL={{easyrsa_req_email}}
export EASYRSA_REQ_OU={{easyrsa_req_ou}}
export EASYRSA_REQ_CN={{easyrsa_req_cn}}
export EASYRSA_KEY_SIZE={{easyrsa_key_size}}
export EASYRSA_ALGO={{easyrsa_algo}}
export EASYRSA_CA_EXPIRE={{easyrsa_ca_expire}}
export EASYRSA_CERT_EXPIRE={{easyrsa_cert_expire}}
export EASYRSA_CRL_DAYS={{easyrsa_crl_days}}
export EASYRSA_DIGEST={{easyrsa_digest}}
