---
easyrsa_dir: /etc/openvpn/easyrsa
easyrsa3_dir: /usr/share/easy-rsa/3
use_2fa: false
openvpn_user: openvpn
openvpn_group: openvpn
openvpn_tcp_port: 
openvpn_udp_port: 
openvpn_fw_zone: public
openvpn_dir: /etc/openvpn
openvpn_server_dir: /etc/openvpn/server
openvpn_client_dir: /etc/openvpn/client
use_tcp_also: true
public_ip: 1.2.3.4
primary_ipaddr: 192.168.1.4 # replace this with your actualy public interface ip
client_list:
  - client1
  - client2
  - client3
  - client4
openvpn_interface_list:
  - tun0
  - tun1
easyrsa_req_country: 
easyrsa_req_province: 
easyrsa_req_city: 
easyrsa_req_org: 
easyrsa_req_email: 
easyrsa_req_ou: 
easyrsa_req_cn: 
easyrsa_key_size: 4096
easyrsa_algo: rsa
easyrsa_ca_expire: 3650
easyrsa_cert_expire: 3650
easyrsa_crl_days: 180
easyrsa_digest: "sha256"

