# {{ ansible_managed }}
[Global]
; Global Server Settings
hostname = {{ansible_hostname}}
afp interfaces = {{primary_interface}}
log file = /var/log/afpd.log
mimic model = Xserve
zeroconf = yes


[Homes]
basedir regex = /home

[Archive]
time machine = no
path={{archive_dir}}
valid_users = {{ atalk_users|join(" ") }}

{% for item in tm_users %}
[{{item.tm_username}}-TM]
time machine = yes
path = {{tm_storage_path}}/{{item.tm_username}}
valid_users = {{item.tm_username}}
vol size limit = {{ item.tm_vol_size_bytes }}

{% endfor %}
