# {{ ansible_managed }}
[Global]
; Global Server Settings
hostname = {{ansible_hostname}}_afp
afp interfaces = {{primary_bridge}}
log file = /var/log/afpd.log
mimic model = Xserve
zeroconf = yes

[Homes_afp]
basedir regex = /home

[Archive_afp]
time machine = no
path={{archivedir}}
valid_users = {{ atalk_users|join(" ") }}

{% for item in tm_users %}
[{{item.tm_username}}-TM_afp]
time machine = yes
path = {{tm_storage_path}}/{{item.tm_username}}
valid_users = {{item.tm_username}}
vol size limit = {{ item.tm_vol_size_mb }}

{% endfor %}
