# {{ ansible_managed }}
[Global]
; Global Server Settings
hostname = {{ansible_hostname}}
afp interfaces = {{primary_bridge}}
log file = /var/log/afpd.log
mimic model = Xserve
zeroconf = yes

[Homes]
basedir regex = /home

[Archive]
time machine = no
path=/export/archive
valid_users = {{ atalk_users|join(" ") }}

[TM-Backup]
time machine = yes
path=/export/time_machine
valid_users = {{tm_users|join(" ") }}
vol size limit = {{ max_tm_bkup_sz }}

