# {{ ansible_managed }}
{% for item in tm_users %} 
{{ tm_storage_path }}/{{item.tm_username}} {{item.tm_username}}-TM allow: {{item.tm_username}} options:usedots,upriv,tm dperm:0770 fperm:0660 cnidscheme:dbd volsizelimit:{{item.tm_vol_size_bytes}}
{% endfor %} 
{{ tm_storage_path }}/chris/mp51-mojave-TM allow: chris options:usedots,upriv,tm dperm:0770 fperm:0660 cnidscheme:dbd volsizelimit:250000000000
{{ tm_storage_path }}/chris/mp51-test-TM allow: chris options:usedots,upriv,tm dperm:0770 fperm:0660 cnidscheme:dbd volsizelimit:250000000000
{{ tm_storage_path }}/chris/mp51-HighSierra-TM allow: chris options:usedots,upriv,tm dperm:0770 fperm:0660 cnidscheme:dbd volsizelimit:160000000000
{{ tm_storage_path }}/chris/mp51-Monterey-TM allow: chris options:usedots,upriv,tm dperm:0770 fperm:0660 cnidscheme:dbd volsizelimit:160000000000
