# {{ ansible_managed }}

LABEL Main Menu
        MENU LABEL Main Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/default

LABEL Linux Menu
        MENU LABEL Linux Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/LinuxMenu

#
# Fedora 31
#
label Fedora-31-x86_64 Server
  menu label Install Fedora-31-x86_64 Server
  kernel images/fedora/31/x86_64/vmlinuz
  append initrd=images/fedora/31/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 keymap=us lang=en_US bootdev=eth0 ip=dhcp 
inst.stage2={{linux_install_server_url}}/fedora/releases/31/Server/x86_64/os/ inst.repo={{linux_install_server_url}}/fedora/releases/31/Server/x86_64/os/

label Fedora-31-x86_64 Workstation
  menu label Install Fedora-31-x86_64 Workstation
  kernel images/fedora/31/x86_64/vmlinuz
  append initrd=images/fedora/31/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 keymap=us lang=en_US bootdev=eth0 ip=dhcp inst.stage2={{linux_install_server_url}}/fedora/releases/31/Server/x86_64/os/ inst.repo={{linux_install_server_url}}/fedora/releases/31/Workstation/x86_64/os/

label Fedora-31-x86_64-rescue
  menu label Rescue Fedora-31-x86_64 system
  kernel images/fedora/31/x86_64/vmlinuz
  append initrd=images/fedora/31/x86_64/initrd.img net.ifnames=0 biosdevname=0 rescue
#
# Fedora 32
#
label Fedora-32-x86_64 Server
  menu label Install Fedora-32-x86_64 Server
  kernel images/fedora/32/x86_64/vmlinuz
  append initrd=images/fedora/32/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 keymap=us lang=en_US bootdev=eth0 ip=dhcp 
inst.stage2={{linux_install_server_url}}/fedora/releases/32/Server/x86_64/os/ inst.repo={{linux_install_server_url}}/fedora/releases/32/Server/x86_64/os/

label Fedora-32-x86_64 Workstation
  menu label Install Fedora-32-x86_64 Workstation
  kernel images/fedora/32/x86_64/vmlinuz
  append initrd=images/fedora/32/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 keymap=us lang=en_US bootdev=eth0 ip=dhcp inst.stage2={{linux_install_server_url}}/fedora/releases/32/Server/x86_64/os/ inst.repo={{linux_install_server_url}}/fedora/releases/32/Workstation/x86_64/os/

label Fedora-32-x86_64-rescue
  menu label Rescue Fedora-32-x86_64 system
  kernel images/fedora/32/x86_64/vmlinuz
  append initrd=images/fedora/32/x86_64/initrd.img net.ifnames=0 biosdevname=0 rescue

#
# test-fedora31 server
#
label test-fedora31
  menu label Install Fedora 31 Test Server
  kernel images/fedora/31/x86_64/vmlinuz
  append initrd=images/fedora/31/x86_64/initrd.img inst.repo={{linux_install_server_url}}/fedora/releases/31/Everything/x86_64/os inst.stage2={{linux_install_server_url}}/fedora/releases/31/Everything/x86_64/os net.ifnames=0 biosdevname=0 noipv6 bootdev=eth0 ip=dhcp inst.ks={{linux_install_server_url}}/ks-configs/test-fedora31-ks.cfg 

#
# test-fedora32 server
#
label test-fedora32
  menu label Install Fedora 32 Test Server
  kernel images/fedora/32/x86_64/vmlinuz
  append initrd=images/fedora/32/x86_64/initrd.img inst.repo={{linux_install_server_url}}/fedora/releases/32/Everything/x86_64/os inst.stage2={{linux_install_server_url}}/fedora/releases/32/Everything/x86_64/os net.ifnames=0 biosdevname=0 noipv6 bootdev=eth0 ip=dhcp inst.ks={{linux_install_server_url}}/ks-configs/test-fedora32-ks.cfg 

