# {{ ansible_managed }}

default vesamenu.c32
default menu.c32
prompt 0

MENU TITLE Linux Install Main Menu

LABEL Main Menu
        MENU LABEL Main Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/default

LABEL centos
        MENU CentOS Installs
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/centos

LABEL rhel
        MENU RHEL Installs
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/rhel

LABEL fedora
        MENU Fedora Installs
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/fedora

LABEL ubuntu
        MENU Ubuntu Installs
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/ubuntu

LABEL x1carbon
        MENU x1carbon Installs
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/x1carbon

#
# Ansible Tower Standalone Install
#
label towervm
  menu label towervm
  kernel images/rhel/8/x86_64/vmlinuz
  append initrd=images/rhel/8/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/towervm-ks.cfg

#
# FIPS Test Install
#
label fipstest
  menu label fipstest
  kernel images/rhel/8/x86_64/vmlinuz
  append initrd=images/rhel/8/x86_64/initrd.img net.ifnames=0 biosdevname=0 fips=1 ipv6.disable=1 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/fipstest-ks.cfg

#
# Ansible Tower Cluster Installs
#
LABEL tower_cluster
        MENU Install Ansible Tower Cluster Nodes
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/tower_cluster

