<?xml version="1.0" encoding="utf-8"?>
<Preferences OldestPreviousVersion="1.21.3.4021-5a0a3e4b2" MachineIdentifier="dfa1a9cb-cf48-4755-aa67-74ff5a4ed126" ProcessedMachineIdentifier="95e242009be37f1949886a9ab4a0f2257c6b3565" AnonymousMachineIdentifier="3e5bc77e-361e-4ce3-bda0-b68862bda467" MetricsEpoch="1" disableRemoteSecurity="1" allowedNetworks="127.0.0.1/255.255.255.0,{{plex_local_net}}.0/{{plex_local_net_netmask}}" LocalAppDataPath="{{plex_storage_path}}" logDebug="1"/>
