#plugin /usr/lib64/openvpn/plugins/openvpn-plugin-auth-pam.so openvpn 

local {{ primary_ipaddr }}
port {{openvpn_port}}
proto udp
dev tun
ca /etc/openvpn/easyrsa/pki/ca.crt
cert /etc/openvpn/easyrsa/pki/issued/main.crt
key /etc/openvpn/easyrsa/pki/private/main.key
dh /etc/openvpn/easyrsa/pki/dh.pem
server 172.16.5.0 255.255.255.0
ifconfig-pool-persist ipp.txt
client-config-dir /etc/openvpn/ccd
push "route 172.16.1.0 255.255.255.0"
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 172.16.1.1"
client-to-client
keepalive 10 900
tls-auth /etc/openvpn/easyrsa/pki/private/ta.key 0
tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA
cipher AES-256-CFB8
auth SHA512
comp-lzo 
max-clients 10
user nobody
group nobody
persist-key
persist-tun
status /var/log/openvpn/openvpn-{{openvpn_port}}udp-status.log
log /var/log/openvpn/openvpn-{{openvpn_port}}udp.log
verb 3
reneg-sec 10800
explicit-exit-notify 1
