[rhel-5-server-rpms-{{linux_install_server_hostname}}]
baseurl = {{linux_install_server_url}}/rhel-reposyncs/5/x86_64/rhel-5-server-rpms
enabled = 1
failovermethod = priority
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
keepcache = 0
metadata_expire = 1d
name = {{linux_install_server_hostname}}-RHEL5-x86_64-rhel-5-server-rpms
repo_gpgcheck = 0
skip_if_unavailable = 0

[rhel-5-server-supplementary-rpms-{{linux_install_server_hostname}}]
baseurl = {{linux_install_server_url}}/rhel-reposyncs/5/x86_64/rhel-5-server-supplementary-rpms
enabled = 1
failovermethod = priority
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
keepcache = 0
metadata_expire = 1d
name = {{linux_install_server_hostname}}-RHEL5-x86_64-rhel-5-server-supplementary-rpms
repo_gpgcheck = 0
skip_if_unavailable = 0

[rhel-5-server-rh-common-rpms-{{linux_install_server_hostname}}]
baseurl = {{linux_install_server_url}}/rhel-reposyncs/5/x86_64/rhel-5-server-rh-common-rpms
enabled = 1
failovermethod = priority
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
keepcache = 0
metadata_expire = 1d
name = {{linux_install_server_hostname}}-RHEL5-x86_64-rhel-5-server-rh-common-rpms
repo_gpgcheck = 0
skip_if_unavailable = 0

[rhel-ha-for-rhel-5-server-rpms-{{linux_install_server_hostname}}]
baseurl = {{linux_install_server_url}}/rhel-reposyncs/5/x86_64/rhel-ha-for-rhel-5-server-rpms
enabled = 1
failovermethod = priority
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
keepcache = 0
metadata_expire = 1d
name = {{linux_install_server_hostname}}-RHEL5-x86_64-rhel-ha-for-rhel-5-server-rpms
repo_gpgcheck = 0
skip_if_unavailable = 0

[rhel-5-server-eus-rpms-{{linux_install_server_hostname}}]
baseurl = {{linux_install_server_url}}/rhel-reposyncs/5/x86_64/rhel-5-server-eus-rpms
enabled = 1
failovermethod = priority
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
keepcache = 0
metadata_expire = 1d
name = {{linux_install_server_hostname}}-RHEL5-x86_64-rhel-5-server-eus-rpms
repo_gpgcheck = 0
skip_if_unavailable = 0

[rhel-5-server-eus-supplementary-rpms-{{linux_install_server_hostname}}]
baseurl = {{linux_install_server_url}}/rhel-reposyncs/5/x86_64/rhel-5-server-eus-supplementary-rpms
enabled = 1
failovermethod = priority
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
keepcache = 0
metadata_expire = 1d
name = {{linux_install_server_hostname}}-RHEL5-x86_64-rhel-5-server-eus-supplementary-rpms
repo_gpgcheck = 0
skip_if_unavailable = 0

[rhel-5-server-eus-rh-common-rpms-{{linux_install_server_hostname}}]
baseurl = {{linux_install_server_url}}/rhel-reposyncs/5/x86_64/rhel-5-server-eus-rh-common-rpms
enabled = 1
failovermethod = priority
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
keepcache = 0
metadata_expire = 1d
name = {{linux_install_server_hostname}}-RHEL5-x86_64-rhel-5-server-eus-rh-common-rpms
repo_gpgcheck = 0
skip_if_unavailable = 0

[rhel-ha-for-rhel-5-server-eus-rpms-{{linux_install_server_hostname}}]
baseurl = {{linux_install_server_url}}/rhel-reposyncs/5/x86_64/rhel-ha-for-rhel-5-server-eus-rpms
enabled = 1
failovermethod = priority
gpgcheck = 1
gpgkey = file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
keepcache = 0
metadata_expire = 1d
name = {{linux_install_server_hostname}}-RHEL5-x86_64-rhel-ha-for-rhel-5-server-eus-rpms
repo_gpgcheck = 0
skip_if_unavailable = 0

