<Directory "/Users/chris/Sites/"> 
  AddLanguage en .en 
  AddHandler perl-script .pl 
  PerlHandler ModPerl::Registry 
  Options Indexes MultiViews FollowSymLinks ExecCGI 
  AllowOverride None 
  Require host localhost
  Require ip {{nat_subnet}}
</Directory>

#<Directory "/Volumes/Data/"> 
#  AddLanguage en .en 
#  AddHandler perl-script .pl 
#  PerlHandler ModPerl::Registry 
#  Options +Indexes +MultiViews +FollowSymLinks +ExecCGI 
#  AllowOverride None 
#  Require host localhost
#  Require ip {{nat_subnet}}
#</Directory>

