#!/bin/sh
#
# rsync of Fedora EPEL archive
# {{ ansible_managed }}
#

export SRCDIR=rsync://{{linux_rsync_server}}/fedora-epel/
export TGTDIR={{linux_install_server_path}}/epel
echo "********************************************************************************"
echo "* UPDATING EPEL BINARIES                                                       *"
echo "********************************************************************************"

{% if sync_script_retries == true %}
# set return code to be false to force first iteration of while loop ironically this give error cause it is an error:-)
$? = 1

while [ "$?" -ne "0" ]
do
        sleep 10
	date
{% endif %}
	rsync -aHvz --keep-dirlinks --delete-during --delete-excluded \
	--progress \
{% for item in linux_repo_includes_list %}
        --include '{{item}}' \
{% endfor %}
{% for item in linux_repo_excludes_list %}
        --exclude '{{item}}' \
{% endfor %}
	--exclude='4' \
	--exclude='4AS' \
	--exclude='4ES' \
	--exclude='4WS' \
	--exclude='RPM-GPG-KEY-EPEL-4' \
	--exclude='5' \
	--exclude='5Client' \
	--exclude='5Server' \
	--exclude='RPM-GPG-KEY-EPEL-5' \
	--exclude='6' \
	--exclude='6Server' \
	--exclude='RPM-GPG-KEY-EPEL-6' \
	--exclude='RPM-GPG-KEY-EPEL-6Server' \
	--exclude='playground' \
 	$SRCDIR $TGTDIR
{% if sync_script_retries == true %}
done
{% endif %}
