#!/bin/sh
#
# rsync of Fedora EPEL archive
# {{ ansible_managed }}
#

export SRCDIR=rsync://{{epel_linux_rsync_server}}/fedora-epel/
export TGTDIR={{linux_install_server_path}}/epel
echo "********************************************************************************"
echo "* UPDATING EPEL BINARIES                                                       *"
echo "********************************************************************************"

{% if sync_script_retries == true %}
# set return code to be false to force first iteration of while loop ironically this give error cause it is an error:-)
$? = 1

while [ "$?" -ne "0" ]
do
        sleep 10
	date
{% endif %}
	rsync -aHKvz --keep-dirlinks --delete --delete-during --delete-excluded --progress \
{% for item in epel_version_includes_list %}
        --include '{{item}}' \
{% endfor %}
{% for item in epel_repo_includes_list %}
        --include '{{item}}' \
{% endfor %}
{% for item in epel_version_excludes_list %}
        --exclude '{{item}}' \
{% endfor %}
{% for item in epel_repo_excludes_list %}
        --exclude '{{item}}' \
{% endfor %}
 	$SRCDIR $TGTDIR
{% if sync_script_retries == true %}
done
{% endif %}
date
