#!/bin/sh
#
# rsync of RPM Fusion
# {{ ansible_managed }}
#

export SRCDIR=rsync://{{rpmfusion_rsync_server}}/rpmfusion/
export TGTDIR={{linux_install_server_path}}/rpm-fusion/
echo "********************************************************************************"
echo "* Syncing RPM Fusion                                                           *"
echo "********************************************************************************"
mkdir -p $TGTDIR

{% if sync_script_retries == true %}
# set return code to be false to force first iteration of while loop ironically this give error cause it is an error:-)
$? = 1

while [ "$?" -ne "0" ]
do
	sleep 10
{% endif %}
	date
	rsync -aHKvz --keep-dirlinks --delete --delete-during --delete-excluded --progress \
{% for item in rpmfusion_repo_includes_list %}
        --include='{{item}}' \
{% endfor %}
{% for item in el_rpmfusion_version_includes_list %}
        --include='free/el/releases/{{item}}' \
        --include='free/el/updates/{{item}}' \
        --include='free/el/tainted/{{item}}' \
        --include='nonfree/el/releases/{{item}}' \
        --include='nonfree/el/updates/{{item}}' \
        --include='nonfree/el/tainted/{{item}}' \
{% endfor %}
{% for item in fedora_rpmfusion_version_includes_list %}
        --include='free/fedora/releases/{{item}}' \
        --include='free/fedora/updates/{{item}}' \
        --include='free/fedora/tainted/{{item}}' \
        --include='nonfree/fedora/releases/{{item}}' \
        --include='nonfree/fedora/updates/{{item}}' \
        --include='nonfree/fedora/tainted/{{item}}' \
{% endfor %}
{% for item in rpmfusion_repo_excludes_list %}
        --exclude='{{item}}' \
{% endfor %}
{% for item in el_rpmfusion_version_excludes_list %}
        --exclude='{{item}}' \
{% endfor %}
{% for item in fedora_rpmfusion_version_excludes_list %}
        --exclude='{{item}}' \
{% endfor %}
 	$SRCDIR $TGTDIR
{% if sync_script_retries == true %}
done
{% endif %}

date
