#!/bin/sh
#
# rsync of RPM Fusion
# {{ ansible_managed }}
#

export SRCDIR=rsync://{{rpmfusion_rsync_server}}/rpmfusion/
export TGTDIR={{linux_install_server_path}}/rpm-fusion/
echo "********************************************************************************"
echo "* Syncing RPM Fusion                                                           *"
echo "********************************************************************************"
mkdir -p $TGTDIR

{% if sync_script_retries == true %}
# set return code to be false to force first iteration of while loop ironically this give error cause it is an error:-)
$? = 1

while [ "$?" -ne "0" ]
do
	sleep 10
{% endif %}
	date
	rsync -aHKvz --keep-dirlinks --delete --delete-during --delete-excluded --progress \
        --exclude='debug' \
        --exclude='i386' \
        --exclude='testing' \
        --exclude='development' \
 	$SRCDIR $TGTDIR
{% if sync_script_retries == true %}
done
{% endif %}

date
