set default=0
set timeout=60

menuentry  'Install RHEL-9-x86_64-Latest' --class fedora --class gnu-linux --class gnu --class os {
   linuxefi images/rhel/9/x86_64/vmlinuz net.ifnames=0 biosdevname=0 noipv6 inst.keymap=us inst.lang=en_US ksdevice=eth0 ip=dhcp inst.repo={{linux_install_server_url}}/rhel/9/x86_64
   initrdefi images/rhel/9/x86_64/initrd.img
}

menuentry  'Rescue RHEL-9-x86_64-Latest' --class fedora --class gnu-linux --class gnu --class os {
   linuxefi images/rhel/9/x86_64/vmlinuz net.ifnames=0 biosdevname=0 noipv6 inst.keymap=us inst.lang=en_US ksdevice=eth0 ip=dhcp inst.repo={{linux_install_server_url}}/rhel/9/x86_64 rd.break
   initrdefi images/rhel/9/x86_64/initrd.img
}

menuentry  'Install RHEL-8-x86_64-Latest' --class fedora --class gnu-linux --class gnu --class os {
   linuxefi images/rhel/8/x86_64/vmlinuz net.ifnames=0 biosdevname=0 noipv6 inst.keymap=us inst.lang=en_US ksdevice=eth0 ip=dhcp inst.repo={{linux_install_server_url}}/rhel/8/x86_64
   initrdefi images/rhel/8/x86_64/initrd.img
}

menuentry  'Rescue RHEL-8-x86_64-Latest' --class fedora --class gnu-linux --class gnu --class os {
   linuxefi images/rhel/8/x86_64/vmlinuz net.ifnames=0 biosdevname=0 noipv6 inst.keymap=us inst.lang=en_US ksdevice=eth0 ip=dhcp inst.repo={{linux_install_server_url}}/rhel/8/x86_64 rd.break
   initrdefi images/rhel/8/x86_64/initrd.img
}

menuentry  'Install RHEL9 kvmhost1' --class fedora --class gnu-linux --class gnu --class os {
   linuxefi images/rhel/9/x86_64/vmlinuz net.ifnames=0 biosdevname=0 noipv6 inst.keymap=us inst.lang=en_US ksdevice=eth0 ip=dhcp inst.repo={{linux_install_server_url}}/rhel/9/x86_64 inst.ks={{linux_install_server_url}}/ks-configs/kvmhost1-ks.cfg
   initrdefi images/rhel/9/x86_64/initrd.img
}

