# {{ ansible_managed }}

LABEL Main Menu
        MENU LABEL Main Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/default

LABEL Linux Menu
        MENU LABEL Linux Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/LinuxMenu

#
# Tower-NodeA
#
label tower-nodeA
  menu label Install Tower-NodeA
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/tower-nodeA-ks.cfg

#
# Tower-NodeB
#
label tower-nodeB
  menu label Install Tower-NodeB
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/tower-nodeB-ks.cfg

#
# Tower-NodeC
#
label tower-nodeC
  menu label Install Tower-NodeC
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/tower-nodeC-ks.cfg

#
# Tower-DB1
#
label tower-DB1
  menu label Install Tower-DB1
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/tower-DB1-ks.cfg

#
# Tower-DB2
#
label tower-DB2
  menu label Install Tower-DB2
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/tower-DB2-ks.cfg

