# {{ ansible_managed }}

LABEL Main Menu
        MENU LABEL Main Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/default

#
# VMware ESXi-6.5.0-5310538
#
label VMware-ESXi-6.5.0-5310538
  menu label Install VMware ESXI-6.5.0-5310538 x86_64 
  kernel images/vmware/6.5.0-5310538/mboot.c32
  append -c images/vmware/6.5.0-5310538/boot.cfg
  iappend 2

#
# VMware ESXi-6.5.0-4564106
#
label VMware-ESXi-6.5.0-4564106
  menu label Install VMware ESXI-6.5.0-4564106 x86_64 
  kernel images/vmware/6.5.0-4564106/mboot.c32
  append -c images/vmware/6.5.0-4564106/boot.cfg
  iappend 2

#
# VMware ESXi-6.0.0u2
#
label VMware-ESXi-6.0.0u2
  menu label Install VMware ESXI-6.0.0u2 x86_64 
  kernel images/vmware/6.0.0u2/mboot.c32
  append -c images/vmware/6.0.0u2/boot.cfg
  iappend 2

#
# VMware ESXi-6.0.0u2-Custom
#
label VMware-ESXi-6.0.0u2-Custom
  menu label Install VMware ESXI-6.0.0u2-Custom x86_64 
  kernel images/vmware/6.0.0u2-custom/mboot.c32
  append -c images/vmware/6.0.0u2-custom/boot.cfg
  iappend 2
