# /etc/sysconfig/network-scripts/ifcfg-{{trusted_firewall_interface}}
# {{ansible_managed}}
TYPE="Ethernet"
DEVICE="{{public_firewall_interface}}"
ONBOOT="yes"
BOOTPROTO="dhcp"
IPV6INIT="{{ipv6_enabled}}"
MTU="{{mtu_size}}"
NM_CONTROLLED="yes"
ZONE="public"
{# {% if dns_server|bool == true %} #}
PEERDNS="no"
{% for item in primary_dns_servers %}
DNS{{loop.index}}={{item}}
{% endfor %}
{# {% endif %} #}
