# /etc/sysconfig/network-scripts/ifcfg-{{trusted_firewall_interface}}
# {{ansible_managed}}
TYPE="Ethernet"
DEVICE="{{trusted_firewall_interface}}"
ONBOOT="yes"
BOOTPROTO="static"
IPADDR="{{primary_ipaddr}}"
NETMASK="{{primary_netmask}}"
GATEWAY=""
MTU="{{mtu_size}}"
IPV6INIT="{{ipv6_enabled}}"
NM_CONTROLLED="yes"
ZONE="internal"
{# {% if dns_server|bool == true %} #}
PEERDNS="no"
{% for item in primary_dns_servers %}
DNS{{loop.index}}={{item}}
{% endfor %}
{# {% endif %} #}
