# {{ ansible_managed }}
#- -transall -uamlist uams_randnum.so,uams_dhx.so,uams_dhx2.so -nosavepassword -advertise_ssh
- -transall -uamlist uams_randnum.so,uams_dhx_passwd.so,uams_dhx2.so -nosavepassword -advertise_ssh
