# {{ ansible_managed }}
[Resolve]
DNS={{primary_dns_servers|join(" ")}}
#FallbackDNS=
Domains={{search_domains|join(" ")}}
#LLMNR=yes
#MulticastDNS=yes
#DNSSEC=allow-downgrade
#DNSOverTLS=no
#Cache=yes
#DNSStubListener=udp

