# {{ ansible_managed }}

LABEL Main Menu
        MENU LABEL Main Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/default

LABEL Linux Menu
        MENU LABEL Linux Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/LinuxMenu

label rhel7-satclient0
  menu label Install RHEL7 satclient0
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/satclient0-ks.cfg

label rhel7-satclient1
  menu label Install RHEL7 satclient1
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/satclient1-ks.cfg

label rhel7-satclient2
  menu label Install RHEL7 satclient2
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/satclient2-ks.cfg

label rhel7-satclient3
  menu label Install RHEL7 satclient3
  kernel images/rhel/7/x86_64/vmlinuz
  append initrd=images/rhel/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/satclient3-ks.cfg

