# {{ ansible_managed }}

LABEL Main Menu
        MENU LABEL Main Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/default

LABEL Linux Menu
        MENU LABEL Linux Menu
        KERNEL menu.c32
        APPEND pxelinux.cfg/Linux/LinuxMenu

#
# CentOS 7
#
label CentOS-7-x86_64-Latest
  menu label Install CentOS-7-x86_64-Latest Server
  kernel images/centos/7/x86_64/vmlinuz
  append initrd=images/centos/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 keymap=us lang=en_US ksdevice=eth0 ip=dhcp inst.repo={{linux_install_server_url}}/centos/7/os/x86_64

label CentOS-7-x86_64-rescue
  menu label Rescue CentOS-7-x86_64 system
  kernel images/centos/7/x86_64/vmlinuz
  append initrd=images/centos/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 rescue

#
# test-centos7 server
#
label test-centos7
  menu label Install CentOS 7 Test Server
  kernel images/centos/7/x86_64/vmlinuz
  append initrd=images/centos/7/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/test-centos7-p51s-ks.cfg

#
# test-centos6 server
#
label test-centos6
  menu label Install CentOS 6 Test Server
  kernel images/centos/6/x86_64/vmlinuz
  append initrd=images/centos/6/x86_64/initrd.img net.ifnames=0 biosdevname=0 noipv6 ksdevice=eth0 ks={{linux_install_server_url}}/ks-configs/test-centos6-p51s-ks.cfg

