# {{ansible_managed}}
# Enable TFTP Server
enable-tftp
tftp-root={{tftpbootdir}}
#tftp-secure

# PXE Boot Configuration for Legacy BIOS Clients
dhcp-match=set:X86PC,60,PXEClient:Arch:00000
dhcp-boot=tag:X86PC,pxelinux.0

# PXE Boot Configuration for UEFI 64-bit Clients
#dhcp-match=set:X86_64_EFI,60,PXEClient:Arch:00007
#dhcp-match=set:X86_64_EFI,60,PXEClient:Arch:00009
#dhcp-boot=tag:X86_64_EFI,grubx64.efi

dhcp-match=set:X86_64_EFI,option:client-arch,7
dhcp-match=set:X86_64_EFI,option:client-arch,9
#dhcp-boot=tag:X86_64_EFI,grubx64.efi
dhcp-boot=tag:X86_64_EFI,x86_64/shimx64.efi

# PXE Boot Configuration for UEFI 32-bit Clients
dhcp-match=set:efi32,60,PXEClient:Arch:00006
dhcp-boot=tag:efi32,grubia32.efi

# PXE Boot Configuration for UEFI ARM64 Clients
dhcp-match=set:ARM64_EFI,60,PXEClient:Arch:0000B
dhcp-boot=tag:ARM64_EFI,grubaa64.efi

# Specify PXE Boot Menu
pxe-prompt="PXE Booting from {{ansible_hostname}}",5
pxe-service=x86PC, "Legacy BIOS PXE Boot", pxelinux.0
pxe-service=BC_EFI, "UEFI PXE Boot (x64)", grubx64.efi
#pxe-service=X86-64_EFI, "UEFI PXE grub Boot (x64)", grubx64.efi
pxe-service=X86-64_EFI, "UEFI PXE shim Boot (x64)", shimx64.efi
pxe-service=ARM64_EFI, "UEFI PXE Boot (ARM64)", grubaa64.efi

# Log PXE Boot Requests
log-dhcp
